<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="/js/employee-card.js" defer></script>
    <script src="/js/api.js" defer></script>
    <script src="/js/employee-form.js"></script>
    <script src="/js/employee-popup.js"></script>
    <script src="/js/popup-form.js" defer></script>
    
    <link rel="stylesheet" href="/css/company.css">
    <title>Document</title>

</head>
<body>
    <main>
        <section id="employees"></section>
        <section id="add-employee"></section>
        <popup-form></popup-form>
        <section id="dialog"></section>
    </main>
</body>

<script>
    let activeEmployee = null

    window.onload = function() {
        index()
        add()
    }
</script>
</html>