main{
  display: inline-block;
  background-color: antiquewhite;
  width: 98vw;
}

div.employee.card {
  border: 1px solid #000;
}

#employees {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 350px);
}

#dialog{
  display: block;
  position: fixed;
  top: 40vh;
  left: 40vw;
  z-index: auto;
  margin-top: 0px;
}
